<style>
  .content-message {
    font-family:Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="content-message">
  <p>Olá, {{name}}!</p>
  <p>Parece que uma troca de senha para a sua conta foi solicitada.</p>
  <p>Se foi você, clique no link abaixo e escolha uma nova senha:</p>
  <p><a href="{{link}}">Redefinir minha senha</a></p>
  <p>Se não foi você, descarte esse e-mail.</p>
  <p>
    Atenciosamente,<br />
    <strong>Equipe GoBarber</strong>
  </p>
</div>
